.inner {
    margin-top: 140px;
}

.back {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    color: #777;
    margin-bottom: 15px;
}
.slick-dots li button:before {
    font-size: 15px;
    opacity: 0.1;
}

.detail {
    padding: 24px;
    background-color: aqua;
}

.detail_text {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.detail_text h2 {
    margin-right: 50px;
}

.detail_text i {
    font-size: 25px;
}

.star {
    background-color: rebeccapurple;
}
.text_box p:first-child {
    background-color: red;
    font-size: 25px;
}

.text_box {
    padding: initial !important;
}

.point {
    display: flex;
    background-color: red;
}
