.inner {
    margin-top: 140px;
}

.back {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    color: #777;
    margin-bottom: 15px;
}
.slick-dots li button:before {
    font-size: 15px;
    opacity: 0.1;
}

/* 상품 설명,가격,배송정보 */

.detail {
    padding: 24px;
    overflow: hidden;
}

.detail_text {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.detail_text h2 {
    margin-right: 50px;
}

.detail_text i {
    font-size: 25px;
}

.text_box p:first-child {
    font-size: 25px;
}

.text_box {
    padding: initial !important;
}

.port {
    font-size: 13px;
    display: flex;
    gap: 15px;
    padding-top: 10px;
}

.gray_point {
    color: #777;
}

/* 버튼 */

.bottom {
    display: flex;
    height: 62px;
    line-height: 62px;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.bottom i {
    font-size: 25px;
    color: #777;
}

.btn {
    width: 286px;
    height: 62px;
    background-color: var(--point);
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

/* 옵션선택하는 슬라이드 메뉴  */
.slide_menu {
    width: 350px;
    margin: 0 auto;
}

.slide_menu {
    padding: 10px 0;
}
.slide_menu p::after {
    font-family: "xeicon";
    content: "\e913";
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
